/*variables*/
:root{
    --color: green;
    --color-title: red;
    --color-subtitle: blue;
}

/*
buena practica
*,*::before,*::after{
    box-sizing: border-box;
}
*/

/*p{
    color: var(--color);
}*/

/*selectores agrupados*/
.titulo,
.descripcion{
    font-weight: bold;
}

/*selectores descendientes*/
/*ojo no se recomienda usarlos salvo que tu vida esta en riesgo*/

/*selectores hijos directos ">"*/

/*selector hermano siguiente "+"*/
.titulo + .descripcion{
    color: var(--color-title);
}
.subtitulo + .descripcion{
    color: var(--color-subtitle);
}

/*selector hermanos sigientes "~"*/
.enabled{
    display: none;
}
.check:checked ~ .enabled{
    display: block;
}
.check:checked ~ .disabled{
    display: none
}

/*selectores de atributos*/
[id="selector-atributo"]{
    color: var(--color);
}

/*selector comienza con ?*/
/*ejemplo [hrf^="palabra clave"] */

/*selector termina con ?*/
/*ejemplo [hrf$="palabra clave"] */

/*selector que contienen ?*/
/*ejemplo [hrf*="palabra clave"] */


/*especificaciones*/
/*
tag = 1
class = 10
id = 100
!important = 1000
*/
/*herencia*/
/*
inherit = hereda estilos del padre
initial = no hereda del padre 
*/

/*colapzado de margenes verticales*/
/*
solucion
al contenedor le agregamos pading
buenas practicas al los margin todo a ul lado ejem margin botton todo.
*/

/*.box{
    width: 400px;
    height: 300px;
    background: red;
    margin: 100px auto;
    border: 50px dotted black;
}*/

/*prectica con border radios dibujando el logo de youtube*/

.box{
    width: 500px;
    height: 350px;
    background: red;
    margin: 100px auto;
    /* border-radios: x x x x/ y y y y */
}

/*
box-shadow: h-offset v-offset blur spread color ! inset
x y borroso expancion color ! sonbra por dentro
*/



/*background
gackground-color: color
backgruond-image: url()
backgruond-repeat: no-repeat 
backgruond-clip: que parte de la caja es cubierta por el fondo
*content-box , pàdding-box, border-box
backgroung-origin; de donde empieza el fondo 
backgroun-size: contain ! cover
background-position: botton 20px right  ***** osea botton right luego 20px para arriba
background-attachament: fixed;

shordhand
backgroud: fondo 1, fondo 2, stc  ***** position / size *** lo demas no importa

unidades em y rem
em => el tamaño de fuente del contexto
rem => el tamaño de fuente root
*/

/*
text-aling
line-height
vertical align
*/
/*text-decoration
text-decoration-line -> line-through
text-decoration-color -> red
text-decoration-style -> dashed
*/
/*text-shadow -> igual que box-shadow solo que no tienes expancion*/

/*white spacing*/
/*
white-spacing: pre; respeta los saltos de linea y espacios
nowrap no salta de linea
pre-wrap salta de linea y conserva espacios
pre-line salta de linea y noconserva spacios
*/

/*
desbordamiento
word-break: break-all se recomienda ulsarlo
word-wrap: break-word es similar al otro

overflow: hidden
text-overflow: ellipsis; los dos tiene q estar para q funcione

text vertical y text rendering
writing-mode: vertical-lr
text-orientation: upright

text-tranform -> su utilidad uniformizar
*/




/*fuentes
sand serif son mas chebres en paguinas web
serif facil de leer
display estan echo para titulos o letreros grandes, ojo no para parrafos muy largos
*/

/*
seudaclases
:link
:visit
:hover
:active
****deven estar en orden

:nt-child(3) tercero
:nt-child(3n) cada 3 en 3
:nt-child(3n + 1)
:nt-child(odd) par
:nt-child(even) inpar
:first-child
:last-child

:not elemento que no quieres q se apliken estilos
:epmty elementos vacios
*/